<form
  class="{{cssClass}} flexcol {{#if locked}}locked{{/if}} werewolf-sheet"
  autocomplete="off"
>
  {{!-- Werewolf Sheet Header --}}
  <header class="sheet-header">
    
    <div class="header-fields">
      <div class="grid grid-3col flexrow">
        <h1 class="charname">
          <input
            name="name"
            type="text"
            value="{{actor.name}}"
            placeholder="{{localize 'were20.Name'}}"
          />
        </h1>
        <h1 class="charname">
            <input
              name="data.breed.value"
              type="text"
              value="{{data.data.breed.value}}"
              placeholder="{{localize 'were20.Breed'}}"
            />
          </h1>
          <h1 class="charname">
            <input
              name="data.headers.pack_name"
              type="text"
              value="{{data.data.headers.pack_name}}"
              placeholder="{{localize 'were20.PackName'}}"
            />
          </h1>
      </div>
    </div>
  </header>
</form>